.home-container .webix_layout {
    display: flex !important;
    flex-direction: column !important;
    height: 100vh !important; 
    width: 100% !important;
}


 .image-container {
   
   
}

  .image-container .webix_template {
    background-image: url("../../assets/homeimage.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    display: flex !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    flex-direction: column !important;
    padding: 20px 40px !important;
    position: relative !important;
    text-align: left !important;
    color: white !important;
    
}


.h2tag {
    font-size: 35px !important;
    font-weight: bold !important;
    color: rgb(22, 20, 20) !important;
    margin-top: 10px !important;
}


.app-name {
    color: #004AAD !important; 
    font-weight: bold !important;
}


.image-container .description {
    font-size: 16px !important;
    font-weight: bold !important;
    line-height: 1.5 !important;
    color: rgb(250, 247, 246) !important;
    max-width: 200px !important;
}


.image-container .login-button {
    display: inline-block !important;
    margin-top: 15px !important;
    padding: 12px 20px !important;
    background: linear-gradient(90deg, #004AAD 0%, #001E47 100%);
    color: white !important;
    font-size: 16px !important;
    font-weight: bold !important;
    border: none !important;
    border-radius: 25px !important;
    cursor: pointer !important;
    transition: background 0.3s ease, transform 0.2s ease !important;
}

.column-layout {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 20px !important;
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 800px !important;
}
.left-column, .right-column {
    flex: 1 !important;  
    padding: 20px !important;
    box-sizing: border-box !important;
}

.h3tag .webix_template {
    font-size: 25px !important;
    font-weight: bold !important;
    color: rgb(22, 20, 20) !important;
    margin-top: 10px !important;
}

.register-button .webix_button {
    display: inline-block !important;
    background: linear-gradient(90deg, #004AAD 0%, #001E47 100%);
    color: white !important;
    margin-top: 15px !important;
    padding: 12px 20px !important; 
    font-size: 16px !important;
    font-weight: bold !important;
    border: none !important;
    border-radius: 25px !important;
    cursor: pointer !important;
    transition: background 0.3s ease, transform 0.2s ease !important;
}


.right-column .webix_list_item {
    font-size: 18px;
    cursor: pointer;
}

.right-column .webix_list_item:hover {
    background-color: #f0f0f0;
}


.right-column .webix_list_item {
    font-size: 18px;
    cursor: pointer;
}

.right-column .webix_list_item:hover {
    background-color: #f0f0f0;
}  

