.home-container .webix_layout {
    display: flex !important;
    flex-direction: column !important;
    /* height: 100vh !important;  */
    width: 100% !important;
    height: 55%;
}


  .image-container .webix_template {
    background-image: url("../../assets/homeimage.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    display: flex !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    flex-direction: column !important;
    padding: 20px 40px !important;
    position: relative !important;
    text-align: left !important;
    color: white !important;
    
}


.h2tag {
    font-size: 35px !important;
    font-weight: bold !important;
    color: rgb(22, 20, 20) !important;
    margin-top: 10px !important;
}


.app-name {
    color: #004AAD !important; 
    font-weight: bold !important;
}

.detail-container{
    width:40%;
    height: 45%;
}
 .login-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;   */
    height: 45%;
    
    
  } 

.login-container .description {
    /* margin-top: 20% !important; */
    font-size: 16px ;
    font-weight: 400 ;
    line-height: 1.5 ;
    max-width: 90% ;
    text-align: left;
}



.login-container .login-button {
    display: inline-block ;
    margin-top: 15px ;
    padding: 12px 20px ;
    background: linear-gradient(90deg, #1CA1C1 0%, #001E47 100%);
    color: white ;
    font-size: 16px ;
    font-weight: bold ;
    border: none ;
    border-radius: 25px ;
    cursor: pointer ;
    transition: background 0.3s ease, transform 0.2s ease ;
}


.left-column, .right-column {
    flex: 1 !important;  
    padding: 20px !important;
    box-sizing: border-box !important;
}

.h3tag .webix_template {
    font-size: 25px !important;
    font-weight: bold !important;
    color: rgb(22, 20, 20) !important;
    margin-top: 10px !important;
}

.register-button .webix_button {
    /* display: inline-block !important; */
    background: linear-gradient(90deg, #004AAD 0%, #001E47 100%);
    color: white !important;
    margin-top: 15px !important;
    padding: 12px 20px !important; 
    font-size: 16px !important;
    font-weight: bold !important;
    border: none !important;
    border-radius: 25px !important;
    cursor: pointer !important;
    transition: background 0.3s ease, transform 0.2s ease !important;
}

.register-button1 .webix_button {
    background: linear-gradient(90deg, #004AAD 0%, #001E47 100%) !important;
    color: white !important;
    border-radius: 25px !important;
    cursor: pointer !important;
    transition: background 0.3s ease, transform 0.2s ease !important;
    font-size: 16px !important;
    font-weight: bold !important;
    width: 200px !important;
    margin: auto !important;
    margin-left: 75px !important;
}


/* 
.info_section{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 20px !important;
    margin: 0 auto !important;
    width: 200px !important;
    max-width: 800px !important;
} */

.info-section .about-text,
.info-section .contact-section  {
    font-weight: 600 !important;
    line-height: 1.5 !important;
    color: #1CA1C1 !important;
    max-width: 90% !important;
    text-align: left !important;
    
}

.info-section .contact-info {
    display: flex;
 /* Centers the icons */
    align-items: center;
    gap: 30px; 
    padding: 10px 10px;
    background: #f0f0f0; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(42, 63, 146, 0.1);
    margin: 20px auto;
  }
  
  
  .contact-icon {
    text-align: center;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .contact-icon i {
    cursor: pointer;
  }
  
  .contact-icon:hover i {
    transform: scale(1.2); 
    color: #929395; 
  }