
.navContainer .webix_el_button .webix_button {
    background-color: transparent !important;
    /* color: rgb(6, 14, 106) !important; */
    border: none !important;
    font-size: 14px !important; 
    transition: background 0.3s ease;
    transition: all 0.3s ease, transform 0.1s ease;
    padding: 8px 12px;
    border-radius: 4px; 
    box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.6), 
                inset -2px -2px 4px rgba(0, 0, 0, 0.2); 
}


.navContainer .webix_el_button .webix_button:hover {
    background-color: rgba(10, 32, 141, 0.2) !important;
}


.navContainer .webix_icon {
    color: rgb(103, 102, 100) !important;
    font-size: 18px !important;
    cursor: pointer;
}

.navContainer .webix_badge {
    background-color: red !important;
    color: white !important;
}

#themeSwitch {
    color: white !important;
}
