:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --test-btn-color: #039c2f;
    --nav-text-color: #061e6a;
    --login-des-color: #0a0a0a;
}

.dark-mode {
    --bg-color: #222222;
    --text-color: #ffffff;
    --test-btn-color: #9c3b03;
    --nav-text-color: #fcfcfc;
    --login-des-color: #ffffff;
   
}

.test-btn .webix_button {
    background-color: var(--test-btn-color) !important;
    color: #333;
}

.navContainer .webix_el_button .webix_button {
    color: var(--nav-text-color) !important;
}

.webix_view {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
}

.login-container .description {
    color: var(--login-des-color) !important;
}


